.slider{
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider__container{
    width: 100%;
    height: 300%;
    position: absolute;
    left: 0;
    top: -200%;
}
.slider__items{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
.slider__item{
    width: 100%;
    height: 33.3334%;
    padding: 0;
    margin: 0;
    display: block;
}
@each $index, $color in (1,red),(2,green),(3,purple){
    .slider__item-#{$index} {
        background-color: $color;
    }
}

.radioButton{
    width: 200px;
    height: 100px;
    background-color: #2c323c;
    margin: auto; 
}

.radio__label{
    display: block;
    width: 20px;
    height: 20px;
    box-shadow: inset -1px 2px 7px 0px #000,
                    0px .5px 2px -1px #fff;
    // box-shadow-bottom: none;
    border-radius: 50%;
    margin: auto;
    position: relative;
    cursor: pointer;
    background-color: #24282f;
}

.radio__input{
    display: none;
}

.radio__label::after{
    content: '';
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(340deg, #209606, #c4edbb)
}

.radio__input:checked + .radio__label::after{
    display: block;
}